body{
    margin: 0;
    font-family: "Montserrat";
    width: 100%;
}

header{
    background-color:#F38E58;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

nav{
    background-color:#F38E58;
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center; 
}

nav img{
    height:60px;
    width: 150px;
}

header ul{
    margin-right: 150px;
    display: flex;
}

nav li{
    color: #FFF;
    margin: 20px;
    list-style-type: none;
    font-size: 15px;
    font-weight: 200;
    padding:5px;
    margin-top: 10px;
}

nav a {
    text-decoration: none;
}

nav li:hover{
    color: black;
}

nav a:hover{
    background-color: #FFF;
    transition: 0.5s ease;
}

button{
    margin: 20px;
    height: 45px;
    width: 100px;
    border: 3px solid #FFF;
    color: #FFF;
    background-color: #F38E58;
    border-radius: 7px;
}

button:hover{
    background-color: #F5A074;
}

.submit{
    width: 150px;
    height: 50px;
    font-size: 12px;
    border:none;
    width: 120px;
    margin-left: 70%;
}

.create{
    width:160px;
    border: none;
    color:#FFFFFF;
    background-color:#032030;
}

.create:hover{
    background-color: #04415F;
    transition: 0.2s ease
}

.contact{
    margin-top: 15%;
    padding: auto;
    height: auto;
    width: auto;
    text-align: center;
}

h1{
    margin:10px;
    font-size: 5vw;
    color: #FFF;
    font-weight: 500;
}

p{
    font-size:18px;
    font-weight:300;
    color:#555555;
    margin-bottom: 50px;
}

.corp{
    display:flex;
    height:100%;
    margin: 0;
    padding:100px;
}

.corp article{
    width:50%;
    margin: 0;
    padding-right: 30px;
    display: inline-block;
    flex-direction: column;

}

h2{
    font-size:28px;
    font-weight: 600;
    color:#78BEDD;
}

h3{
    font-weight: normal;
    font-size: 28px;
}

.formulaire{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
}

.formulaire input{
    padding: 15px;
    width:90%;
    border: 1px solid #D2D2D7;
    border-radius: 5px;
}   

.formulaire .message{
    padding-bottom: 70px;
}


.submit:hover{
    background-color:#D1774D;
    transition: 0.2s ease;
}


.reseaux{
    height: 60%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

.reseaux p{
    margin: 5px;
    padding: 5px;
    width: 500px;
}
.reseaux section{
    display: flex;
}

.reseaux .back-btn img{
    margin:5px;
    height: 70px;
    width: 70px;
}

.bas-page{
    background-color:#404040;
    display: flex;
    justify-content: center;
    width:100%;
    height: 100%;
    margin-top:50px;
}

.bas-page article{
    display: flex;
    flex-direction: column;
    padding:20px;

}

h4{
    margin:0;
    padding-left: 6px;
    padding-top: 10px;
    font-weight: normal;
    text-align: left;
    font-size:14px;
    color: #FFF;
}

.bas-page ul{
    margin: 0;
    padding: 0;
}

.bas-page li{
    font-size:14px;
    color:#787878;
    text-align: left;
    list-style-type: none;
    padding:5px;
}

.bas-page a{
    text-decoration: none;
}

.bas-page li:hover{
    color:#F38E58;
    transition: 0.3s ease;
}

article .create{
    margin-left: 40px;
}

footer{
    background-color:#333333;
    height: 100%;
    padding-left: 80px;

}

.Copyright {
    font-size:14px;
    color: #787878;
    margin: 0;
    padding: 20px;
    text-align: left;
}

span{
    color:#F38E58;
}

svg{
    color:#F38E58;
    height:20px;
    width: 20px;
}

svg:hover{
    color:#D1774D;
}

.logo{
margin-top: 10px;
}

.bas-page article p{
    font-size:14px;
    color:#787878;
    text-align: left;
    list-style-type: none;
    padding:5px;
}

@media (max-width:1000px){

    header{
        height: 20% ;
    }

    nav{
        justify-content: left;
        flex-wrap: wrap;
        width: 100%;
        height:15%;
    }

    nav img{
        height:30px;
        width: 70px;
        margin:10px;
    }

    nav ul{
        width: 50%;
        margin: 10px;
        padding: 10px
    }

    nav li{
        color: #FFF;
        margin: 0;
        padding:3px;
        list-style-type: none;
        font-size: 70%;
        width: 30%;
    }

    button{
        height: auto;
        width: auto;
        font-size: 10px;
        margin: 6px;
    }

    .create{
        width: 30%;
        height:30%;
        font-size: 10px;
        margin:5px;
    }

    .contact{
        margin-top: 20%;
        padding: 10%;
    }

    p{
        font-size: 12px;
        width: 70%;
        margin:auto;
    }

    .corp{
        display:flex;
        flex-direction: column;
        padding: 20px;
    }

    .corp article{
        width:90%;
        margin: 0;
        display: flex;
    }

    h2{
        font-size:18px;
    }
    
    h3{
        font-size: 18px;
    }

    .formulaire{
        padding:10px;
    }
    
    .formulaire input{
        padding: 10px;
        width:90%;
        margin-top:10px;
    }   
    
    article button{
        width: 20px;
        margin: 20%;
    }

    .titre p{
        margin:10px;
        width:100%;
    }

    .bas-page{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    article h4{
        font-size: 12px;
    }
    
    .bas-page article li {
        font-size: 12px;
    }

    .bas-page article p {
        text-align: left;
        margin: 0;
        font-size: 12px;
    }
}
